_openmp_mutex==4.5
backports.zstd==1.5.0
brotli-python==1.2.0
bzip2==1.0.8
ca-certificates==2026.5.20
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.0
colorama==0.4.6
defusedxml==0.7.1
exceptiongroup==1.3.1
geos==3.14.1
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.15
iniconfig==2.3.0
ld_impl_linux-64==2.45.1
libblas==3.11.0
libcblas==3.11.0
libexpat==2.8.1
libffi==3.5.2
libgcc==15.2.0
libgfortran==15.2.0
libgfortran5==15.2.0
libgomp==15.2.0
liblapack==3.11.0
liblzma==5.8.3
libmpdec==4.0.0
libopenblas==0.3.33
libsqlite==3.53.1
libstdcxx==15.2.0
libuuid==2.42.1
libzlib==1.3.2
ncurses==6.6
numpy==2.4.6
openssl==3.6.2
packaging==26.2
pluggy==1.6.0
pygments==2.20.0
pysocks==1.7.1
pytest==9.0.3
python==3.14.5
python_abi==3.14
readline==8.3
requests==2.34.2
ruff==0.15.14
shapely==2.1.2
state_filter==null
tk==8.6.13
tomli==2.4.1
typing_extensions==4.15.0
tzdata==2025c
urllib3==2.7.0
zstd==1.5.7
